    <!-- Navbar (sit on top) -->
    <nav>
        <div class="w3-top">
          <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
            <a href="/" class="w3-bar-item w3-button">Online Library</a>
            <!-- Right-sided navbar links. Hide them on small screens -->
            <div class="w3-right w3-hide-small">
                <a href="/home/dashboard" class="w3-bar-item w3-button">User Dashboard</a>
                <a href="/home/issuedbooks" class="w3-bar-item w3-button">Issued Books</a>
                <a href="/home/profile" class="w3-bar-item w3-button">My Profile</a>      
                <a href="/home/logout" class="btn btn-danger">Logout</a>
            </div>
          </div>
        </div>
    </nav>
    <br><br><br><br><br>
