<html lang="en">
<%- include('header'); -%>

<%- include('dashcontainer'); -%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
    <title>User Dashboard</title>
    <!-- BOOTSTRAP CDN -->
	<link rel="stylesheet" href="/stylesheets/dashboard.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>

  </style>

</head>
<body>

 <br><br><br><br><br>
    <div>
      <a href="/home/booklist"><img title="Books Available" src="/img/img_avatar.png" alt="Avatar" class="avatar"></a>
      <a href="/home/issuedbooks"><img title="Books Issued" src="/img/img_avatar1.png" alt="Avatar" class="avatar"></a>
      <a href="/home/issuedbooks"><img title="Books Not Returned Yet" src="/img/img_avatar0.png" alt="Avatar" class="avatar"></a>
    </div>

<br><br><br><br><br>
<%- include('footer'); -%>