<%- include('header'); -%>
<%- include('container'); -%>

<body>
<div class="w3-content" style="max-width:1100px"> 
	<div class="jumbotron">
		<h1>Library page</h1>
		<p>Welcome here</p>
		<p>
		  <a href="/login">Sign in</a>
		</p>
	  </div>
</div>	 
<!-- Page content -->
<div class="w3-content" style="max-width: none;">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="/img/img1.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">About Library</h1><br>
      <p class="w3-large"><span class="w3-tag w3-light-grey">SCET library</span> is well equipped with books of all discipline, back volumes and current international and national journals. College library functions under the open access system having more than 59594 books. A good number of quality National/International journals and magazines are being subscribed in the library in hard bound form and/or online.</p>
    </div>
  </div>
  
  <br><br><br>
  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="aboutus">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
      <h1 class="w3-center">Team members</h1><br>
      <p class="w3-large"><ul><li>Rajvi Desai -- 180420116009</li><li>Nency Faganiya -- 180420116012</li><li>Shreya Savaliya -- 180420116053</li></ul></p>
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">About Us</h1><br>
      <p class="w3-large">We are the students of Sarvajanik college of engineering and Technology, This is our Online Library Managment System.</p>
    </div>
  </div>
<br><br><br><br>
  <!-- Contact Section -->
  <div class="w3-container w3-padding-64" id="contact">
    <h1>Contact</h1><br>
    <p>We offer full-service catering for any event, large or small. We understand your needs and we will cater the food to satisfy the biggerst criteria of them all, both look and taste. Do not hesitate to contact us.</p>
    <p class="w3-text-blue-grey w3-large"><b>Catering Service, 42nd Living St, 43043 New York, NY</b></p>
    <p>You can also contact us by phone 00553123-2323 or email catering@catering.com, or you can send us a message here:</p>
  </div>
  
<!-- End page content -->
</div>

<%- include('footer'); -%>